[Unit]
Description=switch monitor
Requires=dqtt.service
After=dqtt.service

[Service]
Type=simple
Restart=always
User=root
Group=root
EnvironmentFile=/etc/switchmon/env
ExecStart=/usr/bin/switchmon

[Install]
WantedBy=multi-user.target
